<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".staff.Staff"
            android:label="@string/title_activity_staff"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.login.MainActivity" />
        </activity>
        <activity
            android:name=".Student"
            android:label="@string/title_activity_student"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.login.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PurposeActivity"
            android:label="PurposeActivity"
            android:parentActivityName=".ShoppingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".ShoppingActivity"
            android:label="Checkout">
        </activity>
        <activity android:name=".TransactionHistory">
        </activity>
        <activity android:name=".staff.TransactionHistoryStaff"
            android:label="TransactionHistory"
            android:parentActivityName=".staff.Staff"></activity>
        <activity
            android:name=".staff.GenerateChart"
            android:label="GenerateChart"
            android:parentActivityName=".staff.Staff"></activity>
        <activity
            android:name=".staff.CheckStock"
            android:label="CheckStock"
            android:parentActivityName=".staff.Staff"></activity>

    </application>

</manifest>